@charset "UTF-8";
/*  폰 트  */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.p-unset {
  position: unset !important;
}

.d-flex {
  display: flex;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.z-up {
  z-index: 10000;
}

/* 스탑플레이버튼 토글준비 */
/* .toggle button:after {
    content: '\F4C4';
    font-family: bootstrap-icons !important;
}

.toggle.stop button:after {
    content: '\F593';
} */
/*  버튼 태그
    #reviewBanner button {
    background-color: transparent;
    border: 0;
}
 */
.basic-slide-list {
  margin-top: 20px;
}

/* 레 이 아 웃 */
#reviewBanner {
  margin-bottom: 100px;
}
#reviewBanner .txt_set {
  margin-left: 100px;
  color: black;
}
#reviewBanner * {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  font-weight: 400;
  line-height: 1;
}
#reviewBanner .container {
  width: 1240px;
  margin: 0 auto;
}
#reviewBanner img {
  max-width: 100%;
  width: 50vw;
  height: 70vh;
}
#reviewBanner > button {
  /*    z-index: 200;      //버튼 속성들 임시 대기;  
  box-shadow: 10px 10px 40px 5px rgb(0 0 0 / 20%);
  cursor: pointer;
  padding: 4rem 2rem;
  max-height: 340px;
  max-width: 340px;
  background: #f04e23;
  color: #fff;
  display: inline-block;
  position: absolute;
  bottom: -12%;
  right: 21%;
  text-align: left; */
}
#reviewBanner > button > p {
  font-weight: bold;
}
#reviewBanner > button .title {
  font-size: 28px;
}
#reviewBanner > button .title :after {
  color: white;
}
#reviewBanner .tbox_right {
  font-family: "Pretendard-Regular";
  margin-left: 50px;
}
#reviewBanner .tbox_right .title {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  min-height: 80px;
}
#reviewBanner .tbox_right .typo {
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 90px;
  line-height: 30px;
  font-weight: 400;
}
#reviewBanner .tbox_right .info_wrap {
  color: #aeaeae;
}
#reviewBanner .tbox_right .tag_zone .tag {
  display: inline-block;
  margin: 0 6px 0;
  color: #d1a623;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
}
#reviewBanner .swiper-slide {
  background-color: white;
  align-items: center;
}
#reviewBanner .btns {
  padding: 1rem;
}
#reviewBanner .btns * {
  font-size: 1rem !important;
  line-height: 2;
  color: white !important;
}
#reviewBanner .btns * :after {
  font-size: 1rem !important;
  line-height: 2;
  color: white !important;
}
#reviewBanner .btns .btnbox {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 1rem;
  padding: 0 0.54rem;
  border-radius: 1rem;
}
#reviewBanner .btns .btnbox .swiper-pagination {
  padding: 0 0.5rem;
}
#reviewBanner .btns .btnbox .swiper-pagination + a {
  padding: 0 0.5rem;
}
#reviewBanner .btns .btnbox .swiper-button-next {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 0.5rem;
}
#reviewBanner .btns .btnbox .swiper-button-next :after {
  content: "\f284";
  font-family: bootstrap-icons !important;
}
#reviewBanner .btns .btnbox .swiper-button-prev {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 0.5rem;
}
#reviewBanner .btns .btnbox .swiper-button-prev :after {
  content: "\f285";
  font-family: bootstrap-icons !important;
}