/*  폰 트  */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.p-unset {
    position: unset !important;
}

.d-flex {
    display: flex;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.z-up {
    z-index: 10000;
}

/* 스탑플레이버튼 토글준비 */
/* .toggle button:after {
    content: '\F4C4';
    font-family: bootstrap-icons !important;
}

.toggle.stop button:after {
    content: '\F593';
} */

/*  버튼 태그
    #reviewBanner button {
    background-color: transparent;
    border: 0;
}
 */


.basic-slide-list {
    margin-top: 20px;

}

/* 레 이 아 웃 */
#reviewBanner {

    margin-bottom: 100px;

    .txt_set {
        margin-left: 100px;
        color: black;

    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Pretendard-Regular';
        font-weight: 400;
        line-height: 1;
    }

    .container {
        width: 1240px;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        width: 50vw;
        height: 70vh;

    }

    >button {
        /*    z-index: 200;      //버튼 속성들 임시 대기;  
    box-shadow: 10px 10px 40px 5px rgb(0 0 0 / 20%);
    cursor: pointer;
    padding: 4rem 2rem;
    max-height: 340px;
    max-width: 340px;
    background: #f04e23;
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -12%;
    right: 21%;
    text-align: left; */



        >p {
            font-weight: bold;
        }

        .title {
            font-size: 28px;

            :after {
                color: white;

            }

        }
    }

    .tbox_right {
        font-family: 'Pretendard-Regular';
        margin-left: 50px;

        .title {
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 30px;
            min-height: 80px;
        }

        .typo {
            font-size: 16px;
            margin-bottom: 20px;
            min-height: 90px;
            line-height: 30px;
            font-weight: 400;
        }

        .info_wrap {
            color: #aeaeae;
        }

        .tag_zone {
            .tag {
                display: inline-block;
                margin: 0 6px 0;
                color: #d1a623;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: -1px;
            }
        }
    }

    .swiper-slide {
        background-color: white;
        align-items: center;
    }

    .btns {
        padding: 1rem;

        * {
            font-size: 1rem !important;
            line-height: 2;
            color: white !important;

            :after {
                font-size: 1rem !important;
                line-height: 2;
                color: white !important;
            }
        }

        .btnbox {
            .swiper-pagination {
                padding: 0 0.5rem;
            }

            .swiper-pagination+a {
                padding: 0 0.5rem;
            }

            background-color: rgba(0, 0, 0, .5);
            margin: 0 0 0 1rem;
            padding: 0 0.54rem;
            border-radius: 1rem;

            .swiper-button-next {
                :after {
                    content: "\F284";
                    font-family: bootstrap-icons !important;
                }

                width: auto;
                height: auto;
                margin: 0;
                padding: 0 0.5rem;
            }

            .swiper-button-prev {
                :after {
                    content: "\F285";
                    font-family: bootstrap-icons !important;
                }

                width: auto;
                height: auto;
                margin: 0;
                padding: 0 0.5rem;
            }
        }
    }
}