* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 400;
}

#addressMap .intro h2 {
  white-space: nowrap;
  color: #ff8908;
  padding: 1rem;
}
#addressMap .firstad ul {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  padding-top: 1px;
}
#addressMap .firstad ul li {
  border: 1px solid black;
  padding: 8px 0;
  white-space: nowrap;
  margin: 1rem 4rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
#addressMap .secondad ul {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  padding-top: 1px;
}
#addressMap .secondad li {
  border: 1px solid black;
  border-radius: 3rem;
  padding: 8px 0px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem 2rem;
}
#addressMap .on {
  background-color: #ff8908;
}
#addressMap #adMap {
  gap: 10px;
}
#addressMap .wrapper #map {
  width: 100%;
  height: 400px;
}

#sizeBanner {
  color: black;
  border-top: 2px solid silver;
}
#sizeBanner .swiper-slide .swipercontent {
  display: none !important;
}
#sizeBanner h1 {
  color: #ff8908;
}
#sizeBanner a {
  text-decoration: none;
  color: #333;
}
#sizeBanner .btns {
  text-align: center;
}
#sizeBanner .targetDiv ul {
  padding: 0 100px;
}
#sizeBanner .targetDiv ul li {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}
#sizeBanner .targetDiv ul li::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: black;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
#sizeBanner .targetDiv ul li span {
  white-space: nowrap;
}
#sizeBanner .bi-square-fill {
  font-size: 15px;
}
#sizeBanner .sizename {
  color: blue;
}
#sizeBanner .swiper-slide {
  max-width: 100%;
  background-color: white;
}
#sizeBanner .swiper-pagination {
  position: unset;
  width: auto;
  display: inline-block;
  border: 2px solid silver;
  white-space: nowrap;
  padding: 0 1rem;
  border-radius: 2rem;
  margin-top: 3rem;
}
#sizeBanner .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
  padding: 0 40px;
  margin: 1rem 0;
  line-height: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  background: transparent;
  position: relative;
}
#sizeBanner .swiper-pagination-bullet:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#sizeBanner .swiper-pagination-bullet-active {
  color: black;
}
#sizeBanner .bg-1 {
  width: 100%;
  height: 507px;
  background: url(../img/yong/Mini.png) no-repeat center/100% white;
  background-position: center;
  background-size: contain;
}
#sizeBanner .bg-2 {
  width: 100%;
  height: 507px;
  background: url(../img/yong/small.jpg) no-repeat center/100% white;
  background-position: center;
  background-size: contain;
}
#sizeBanner .bg-3 {
  width: 100%;
  height: 507px;
  background: url(../img/yong/Medium.png) no-repeat center/100% white;
  background-position: center;
  background-size: contain;
}
#sizeBanner .bg-4 {
  width: 100%;
  height: 507px;
  background: url(../img/yong/large.jpg) no-repeat center/100% white;
  background-position: center;
  background-size: contain;
}
#sizeBanner .swiper-button-prev {
  top: 35%;
  left: 25%;
}
#sizeBanner .swiper-button-next {
  top: 35%;
  right: 25%;
}
#sizeBanner .swiper-button-prev::after {
  content: "\f129";
  font-family: bootstrap-icons !important;
  color: #333;
}
#sizeBanner .swiper-button-next::after {
  content: "\f133";
  font-family: bootstrap-icons !important;
  color: #333;
}

@media (max-width: 768px) {
  #sizeBanner .swiper-slide {
    height: 160vw;
    background-position: center top;
  }
}