* {
    margin: 0;
    padding: 0;
    // font-family: "Noto Sans KR" !important;
    line-height: 1.3;
    font-weight: 400;
}

#addressMap {
    .intro h2 {
        white-space: nowrap;
        color: #ff8908;
        padding: 1rem;
    }

    .firstad {
        ul {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-left: 1px;
            padding-top: 1px;

            li {
                border: 1px solid black;
                padding: 8px 0;
                white-space: nowrap;
                margin: 1rem 4rem;
                cursor: pointer;
                font-weight: bold;
                text-align: center;
                display: inline-block;
                box-sizing: border-box;
            }
        }
    }

    .secondad {
        ul {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-left: 1px;
            padding-top: 1px;
        }

        li {
            border: 1px solid black;
            border-radius: 3rem;
            padding: 8px 0px;
            white-space: nowrap;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            box-sizing: border-box;
            margin: 1rem 2rem;
        }
    }

    .on {
        background-color: #ff8908;
    }

    #adMap {
        gap: 10px;
    }

    .wrapper {
        #map {
            width: 100%;
            height: 100%;
        }
    }


}

#sizeBanner {
    color: black;
    border-top: 2px solid silver;


    .swiper-slide {


        .swipercontent {
            display: none !important;
        }
    }

    h1 {
        color: #ff8908;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    .btns {
        text-align: center;
    }

    .targetDiv {
        ul {
            padding: 0 100px;

            li {
                display: flex;
                margin-bottom: 32px;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: black;
                    position: absolute;
                    left: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                span {
                    white-space: nowrap;
                }
            }
        }
    }

    .bi-square-fill {
        font-size: 15px;
    }

    .sizename {
        color: blue;
    }

    .swiper-slide {
        max-width: 100%;
        background-color: white;
    }

    .swiper-pagination {
        position: unset; //position unset 으로 포지션을 풀어서 슬라이드 밑으로 내려오게끔하였음.
        width: auto; //자동으로 width가 100%로 들어가서 width auto로 풀어준다음 인라인블럭을 쓰게함
        display: inline-block;
        border: 2px solid silver;
        white-space: nowrap;
        padding: 0 1rem;
        border-radius: 2rem;
        margin-top: 3rem;
    }

    .swiper-pagination-bullet {
        width: auto;
        height: auto;
        border-radius: 0;
        padding: 0 40px;
        margin: 1rem 0;
        line-height: 20px;
        font-size: 15px;
        color: rgba(0,0,0,.3);
        opacity: 1;
        background: transparent;
        position: relative;
    }

    .swiper-pagination-bullet:not(:last-child)::after {
        content:'';
        display: block;
        width: 1px;
        height: 20px;
        background-color: rgba(0,0,0,.3);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-pagination-bullet-active {
        color: black;
    }



    .bg-1 {
        width: 100%;
        height: 507px;
        background: url(../img/yong/Mini.png) no-repeat center/100% white;
        background-position: center;
        background-size: contain;
    }

    .bg-2 {
        width: 100%;
        height: 507px;
        background: url(../img/yong/small.jpg) no-repeat center/100% white;
        background-position: center;
        background-size: contain;

    }

    .bg-3 {
        width: 100%;
        height: 507px;
        background: url(../img/yong/Medium.png) no-repeat center/100% white;
        background-position: center;
        background-size: contain;
    }

    .bg-4 {
        width: 100%;
        height: 507px;
        background: url(../img/yong/large.jpg) no-repeat center/100% white;
        background-position: center;
        background-size: contain;
    }

  
    .swiper-button-prev {
        top: 35%;
        left: 25%;
    }

    .swiper-button-next {
        top: 35%;
        right: 25%;
    }

    .swiper-button-prev::after {
        content: "\F129";
        font-family: bootstrap-icons !important;
        color: #333;

    }

    .swiper-button-next::after {
        content: "\F133";
        font-family: bootstrap-icons !important;
        color: #333;

    }
}

@media (max-width:768px) {
    #sizeBanner {
        .swiper-slide {
            height: 160vw;
            background-position: center top;
        }
    }

}