@media screen and (max-width: 990px) {
    .b-header {
        display: none !important;
    }

    .t-menu {
        display: none !important;
    }

    .t-header>div>a {
        display: inline !important;
    }

}

@media screen and (max-width: 500px) {
    .swiper-button-prev::after,
    .swiper-button-prev,
    .swiper-button-next::after,
    .swiper-button-next {
        background: none !important;
    }

    .swiper-slide h2 {
        font-size: 25px !important;
    }
}