/* common */

body {
    font-family: 'Pretendard';
    line-height: 1;
}

a {
    text-decoration: none;
    color: #000;
}

ul,li {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.m-container {
    max-width: 1400px;
    margin: 0 auto;
}

/* layout */

.wrap {
    min-width: 300px;
}

.wrap.bgon::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
}

.ad-header {
    height: 73.32px;
    background-color: #313131;
    padding-left: 51px;
    padding-right: 90px;
}

.ad-header h2 {
    font-size: 15.6px;
    color: white;
}

.ad-header a {
    color: white;
    font-size: 15.6px;
    display: block;
    position: relative;
}

.ad-header a::after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 21px;
    background: url('../img/icon_right.png') no-repeat;
    transform: scale(0.78);
    top: -3px;
    right: -29px;

}

.t-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    height: 70.2px;
}

.t-header>div {
    height: 100%;
}

.t-header .logo a {
    padding: 24.18px 0;
}

.t-header .bi {
    font-size: 2rem;
}

.t-header .t-menu>li>a {
    font-size: 10.92px;
    font-weight: 500;
    color: rgba(0,0,0,.70);
    padding: 30px 36px;
    letter-spacing: -2%;
    color: rgba(0,0,0,.7);
    position: relative;
}

.t-header .t-menu>li:first-child>a::after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 7px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: url('../img/lang_btn.png') no-repeat;

}

.t-header .t-menu>li:not(:first-child)>a::before {
    content:'';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 13.5px;
    background-color: rgba(0,0,0,.2);
}

.t-header .l-menu {
    right: 15px;
    left: 30px;
    top: 30px;
    border: 0;
    text-align: center;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: all .4s;
    z-index: 100000;
}

.t-header .l-menu.on {
    height: 55px;
    border: 1px solid rgba(0,0,0,.2);
}

.t-header .l-menu a {
    font-size: 9.32px;
    display: block;
    width: 100%;
    padding: 4px 0;
}

.t-header .l-menu a.checked {
    color: white;
    background-color: #577CFF;
}

.mobile__header {
    position: fixed;
    top: 0;
    right: -500px;
    transition: all .4s;
    background-color: white;
    z-index: 10000000;
}

.mobile__header.trs {
    right: 0;
}

.mobile__header  .mobile__top {
    background-color: #4A5677;
    padding: 15px 28px;
}

.mobile__header  .mobile__top>li:not(:first-child)>a {
    margin: 0 13px;
}

.mobile__header  .mobile__top>li:first-child>a {
    margin-right: 13px;
}

.mobile__header  .mobile__top>li>a {
    position: relative;
    color: white;
    font-size: 14px;
}

.mobile__header .mobile__top>li:first-child>a::after,
.mobile__header .mobile__top>li:nth-child(2)>a::after,
.mobile__header .mobile__top>li:nth-child(3)>a::after
 {
    content:'';
    display: block;
    width: 2px;
    height: 2px;
    background-color: white;
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile__header .mobile__center>li>a {
    position: relative;
    display: block;
    padding: 28px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.mobile__header .mobile__center>li>.btn__after::before {
    content: '\F286';
    font-family: bootstrap-icons !important;
    display: block;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.mobile__header .mobile__center>li>.btn__after::after {
    content: '\F282';
    font-family: bootstrap-icons !important;
    display: block;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile__header .mobile__center .sub__menu {
    height: 0;
    overflow: hidden;
    transition: all .2s;
}

.mobile__header .mobile__center .sub__menu.recover {
    height: 100%;
}

.mobile__header .mobile__center .sub__menu>li>a {
    display: block;
    padding: 28px 15px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-left: 3px solid #4A5677;
    background-color: #f9f8f8;
}

.b-header {
    height: 70.2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.b-header>div:first-child {
    height: 100%;
}

.b-header #gnb {
    height: 100%;
}

.b-header #gnb>li>a {
    font-size: 18.72px;
    padding: 30px 60px;
    font-weight: 500;      
}

.b-header .s-menu {
    width: 100%;
    text-align: center;
    padding: 0;
    top: 45px;
    z-index: 1000000;
    height: 0;
    overflow: hidden;
    transition: all .4s;
}

.b-header .s-menu.son {
    height: 110px;
}

.b-header .s-menu a {
    display: block;
    padding: 10px 0;
}

.back {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    border-top: 0;
    transition: all .4s;
    z-index: 100000;
    overflow: hidden;
}

.back.cover {
    height: 110px;
    border-top: 1px solid rgba(0,0,0,.2);
}

section.slider {
    height: 600px;
}

section.slider .swiper {
    height: 100%;
    max-width: 80%;
}

section.slider .swiper-wrapper .swiper-slide {
    width: 90% !important;
    border-radius: 5px 30px;
    position: relative;
    z-index: 1000000;
}

section.slider .swiper-wrapper .swiper-slide1 {
    height: 100%;
    background: url('../img/slide_visual_1.jpg') no-repeat center/cover;
}

section.slider .swiper-wrapper .swiper-slide .slide__menu {
    display: inline-block;
    padding: 33px 35px;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px 30px;
    position: absolute;
    top: 2%;
    right: 2%;
}

section.slider .swiper-wrapper .swiper-slide .slide__menu a {
    display: block;
    color: rgba(255,255,255,.4);
}

section.slider .swiper-wrapper .swiper-slide .slide__menu a.action {
    color: white;
}

section.slider .swiper-wrapper .swiper-slide .slide__menu li:not(:last-child) a {
    margin-bottom: 33px;
}




